*{
    background-image: linear-gradient(to bottom right,#5D4954, #FFA69E
    );
    font-family: 'Dosis', sans-serif;;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #ffffff;
    }
a {
    color:#FFA69E
}
.NavColor{
    color: #FFA69E
}
.NavColor:hover {
    color: white;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}