.resume{
    width: 60%;
    margin: auto;
}

.objective{
    text-decoration: underline;
    font-weight: bold;
}
.educational{
    text-decoration: underline;
    font-weight: bold;
}
.highlights{
    text-decoration: underline;
    font-weight: bold;
}

.resume ul{
    border:#5e7085 solid 2px;
}
.resume p{
    font-size: 20px;
}