.AboutMe {
font-family: 'Montserrat Alternates', sans-serif;
animation: fadeInAnimation ease 3.0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
h2 {
    display: flex;
    justify-content: center;
}
.image{
    height: auto;
    width: 50%;
    border-radius: 10% ;    
    border: solid rgb(98, 227, 231) 3px; 
}
.meImgContainer{
    display: flex;
    justify-content: center; 
    padding: 5px;
}

.card-body{
    margin-bottom: 5px;
}

.infoContainer{
    border:rgb(98, 227, 231) solid 2px;
    border-radius:  5px;
    font-size: 20px;
}
.card{
    border: none;
}
li{
    list-style: none;
}