
.caption{
    font-size: 25px;
    animation: fadeInAnimation ease 3.0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.CreationsImage{
    width: 70%;
    height: 70%;
    border: solid rgb(98, 227, 231) 3px; 
    border-radius: 20px;
    animation: fadeInAnimation ease 3.0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}